#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%;
    height: 100%;
	z-index: 9999;
	border: 0;
	background-color: #000!important;
}
#MB_overlay[id] { position: fixed; }

#MB_windowwrapper {
	position:absolute;
	top:0;
	width:100%;
    text-align: left;
    z-index: 9999999;
}

#MB_window {
	 position: absolute;
    top: 0;
    border: 0 solid;
    text-align: left;
    z-index: 9999999;
}
#MB_window[id] { position: fixed; }

#MB_frame {
	position: relative;
	background-color: #EFEFEF;
	height: 100%;
}

#MB_header {
	margin: 0;
	padding: 0;
}

#MB_content {
	position: relative;
	padding: 6px .75em;
	overflow: auto;
}

#MB_caption {
	font-size:16px;
	padding: 5px 0 5px 10px;
	margin: 0;
	text-align: left;
    font-weight:bold;
    text-align:center;

}

#MB_close {
	display: block;
	position: absolute;
	right: 5px; top: 4px;
	padding: 2px 3px;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}
a#MB_close {
    width: 16px;
    height: 16px;
    background: transparent url( ../../_img/Close.png ) 0 0 no-repeat;
}

a#MB_close:hover {
}


#MB_loading {
	padding: 1.5em;
	text-indent: -10000px;
	    background: transparent url( ../../_img/themes/default/ajax-loader.gif ) 50% 0 no-repeat;
}

/* Color scheme */
#MB_window {
	background-color: #EFEFEF;
	color: #000;

	-webkit-box-shadow: 0 0 64px #000;
	-moz-box-shadow: #000 0 0 64px;
	box-shadow: 0 0 64px #000;
}
	#MB_frame {
		padding-bottom: 4px;

		-webkit-border-bottom-left-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;

		-moz-border-radius-bottomleft: 4px;
		-moz-border-radius-bottomright: 4px;

		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	#MB_content { border-top: 1px solid #F9F9F9; }

	#MB_header {
	  background-color: #DDD;
	  border-bottom: 1px solid #CCC;
	}
		#MB_caption { color: #000 }
		#MB_close { color: #777 }
		#MB_close:hover { color: #000 }


/* Alert message */
.MB_alert {
	margin: 10px 0;
	text-align: center;
}