#MB_overlay {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #000 !important;
}

#MB_overlay[id] {
  position: fixed;
}

#MB_window {
  position: absolute;
  margin-top : 50;
  border: 0 solid;
  text-align: left;
  z-index: 9999999;
  width:100%;
}

#MB_window[id] {
  position: fixed !important;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  top:0;
  left:0;
  border: 0 solid;
  text-align: left;
  z-index: 10000;
  z-index: 9999999;
}

#MB_frame {
  position: relative;
  background-color: #ECF5FF;
  height: 100%;
}

#MB_header {
  margin: 0;
  height: 25px;
}

#MB_content {
  padding: 6px .75em;
  overflow: auto;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#MB_caption {
  padding: .5em 2em 0 .75em;
  margin: 0;
  text-align: left;
}

#MB_close {
  display: block;
  position: absolute;
  right: 5px;
  top: 4px;
  padding: 2px 3px;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
}

a#MB_close {
  width: 16px;
  height: 16px;
  background: transparent url("../../_img/icons/icon_minus.png") 0 0 no-repeat;
}

a#MB_close:hover {
}

#MB_loading {
  padding: 1.5em;
  text-indent: -10000px;
  background: transparent url( ../../_img/themes/default/ajax-loader.gif ) 50% 0 no-repeat;
}

/* Color scheme */
#MB_window {
  background-color: #ECF5FF;
  color: #000;
}

#MB_content {
  border-top: 1px solid #DDEDFF;
}

#MB_header {
  color: white;
  background: #4976A8 url( ../../_img/tradmin_bg.gif ) repeat-x;
}

#MB_caption {
  color: white;
  font-size: 11px;
  font-weight: bolder;
}

#MB_close {
  color: #777
}

#MB_close:hover {
  color: #000
}

.MB_alert {
  margin: 10px 0;
  text-align: center;
}