#monthScheduler_container {
  border: 5px solid #ffffff;
  background: #FFE08A;
}

.monthScheduler_day, .monthScheduler_future {
  padding: 0px;
  margin: 1px;
  float: left;
  background-color: white;
  position: relative;
  text-align: center;
  width: 100%;
}

.monthScheduler_future {
  background: url( ../../_img/futureDate.gif ) center no-repeat;
  background-color: white;
}

div.today {
  background-color: #FFFFCC;
}

.weekCell {
  text-align: center;
  font-family: arial;
  font-size: 18px;
  height: 120px;
  color: #505050;
  width: 50px;
  float: left;
}

#monthScheduler_weeks {
  width: 50px;
  float: left;
  background: #FFE08A;
}

#monthScheduler_days {
  float: left;
}

.dayHeaders div {
  float: left;
  background: #FFE08A;
  text-align: center;
  height: 20px;
  line-height: 20px;
  font-family: sans-serif bold 11px;
  border-right: 1px solid #eee;
  color: #5A5A5B;
  padding: 0;
}

#monthScheduler_dayHeaders .todayHeader {
  background: #A69047;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0;
}

.todayHeader {
  background: #A69047;
  color: white;
  text-align: center;
  align: center;
  width: 100%;
  padding: 0;
}

.notTodayHeader {
  background: #d3d3d3;
  color: black;
  text-align: center;
  width: 100%;
  padding: 0;
}

.weekend {
  background: #e0e0e0;
  padding: 0;
}

.workday {
  background: #eee;
  padding: 0;
}

#monthScheduler_top {
  position: relative;
  clear: both;
  background: #FFE08A;
}

#monthScheduler_content {
  clear: both;
  position: relative;
  overflow: auto;
  height: 400px;
  border-left: none;
  border-top: none;
}

.spacer {
  background: #FFE08A;
  color: #505050;
  width: 50px;
  height: 20px;
  float: left;
  border-bottom: 1px solid #eee;
}

.calculation {
  position: absolute;
  z-index: 1000;
  overflow: hidden;
  border: none;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #DDEDFF;
  border: 1px solid #4D7BAF;
}

.calculationHeader, .calHeaderWorkschedule, .calHeaderLeave {
  text-align: left;
  height: 15px;
  color: white;
}

.calHeaderWorkschedule {
  background: url( ../../_img/tradmin_bg.gif ) center;
}

.calHeaderLeave {
  background: url( ../../_img/redButtonGradient.png ) center;
}

.calHeaderDuration {
  text-align: left;
  width: 40%;
  position: relative;
  float: left;
  padding-left: 3px;
}

.calHeaderScriptNotice {
  text-align: right;
  width: 50%;
  position: absolute;
  float: right;
  padding-right: 3px;
}

.deleteIcon {
  top: 1px;
  right: 3px;
  position: absolute;
  float: right;
  font-size: 8px;
  color: white;
  height: 12px;
  width: 12px;
  cursor: pointer;
  background: no-repeat center center url( "../../_img/icons/icon_delete.png" );
}

.dayBody {
  font-size: 9px;
  font-family: arial;
  text-align: left;
  padding: 2px;
  padding-top: 3px;
  width: 100%;
  clear: both;
  position: relative;
  float: left;
  color: black;
  line-height: 12px;
  color: #4874A6;
}

.dayBody i {
  padding-left: 5px;
  background: no-repeat left center url( "../../_img/arrow.right.png" );
}

#monthScheduler_msgBox {
  width: 400px;
  height: 50px;
  z-index: 200001;
  display: none;
  left: 400px;
  top: 240px;
  color: #6b5b39;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  padding: 20px 0px 20px 0px;
  padding-top : 20px;
  text-align: center;
  background: #FAD163;
  filter: alpha( opacity = 90 );
  -moz-opacity: 0.9;
  opacity: 0.9;
}