@media
screen{
div.content{
 margin:0;
 border:none;
 padding:0;
 font-family:arial,sans-serif;
 overflow-x:auto;
 width:100%;
 height:100%
}
}

@media
all{
html{
 overflow:auto;
 height:100%
}
body{
 height:100%;
 width:98%;
 background:#eee;
 color:#222;
 font-family:arial,sans-serif;
 font-size:14px;
 text-align:center;
}
*{
 font-size:14px
}
img.link {
 cursor:pointer;
 vertical-align:-2px;
 border:none;
 padding:2px;
 _padding:0px;
 -moz-opacity:0.8;
 display:inline;
}
tr.admintitle{
 font-family:arial,sans-serif;
 font-weight:bolder;
 font-size:16px;
 text-align:center;
 color:#fff;
 height:23px;
 background:url("../../_img/themes/default/tradmin_bg.gif") no-repeat #4975A7;
 background-repeat:repeat-x
}
table.list{
 border:1px solid #C1DEFF;
 background-color:#fff;
 margin-left:auto;
 margin-right:auto
}
tr.admin{
 font-family:arial,sans-serif;
 font-weight:bolder;
 text-indent:2px;
 color:#fff;
 height:25px;
 font-size:11px;
 background:url("../../_img/themes/default/tradmin_bg.gif") no-repeat #4975A7;
 background-repeat:repeat-x
}
tr.admin a{
 color:#ddd
}
td{
 font-family:arial,sans-serif
}
TD.admin{
 text-indent:1px;
 color:#222;
 font-size:14px;
 padding:1px 4px 1x 3px;
 background-color:#C3D9FF;
 height:25px
}
td.admin2{
 text-indent:1px;
 color:#222;
 font-size:14px;
 padding:1px 4px 1x 3px;
 background-color:#DEEAFF;
 height:25px
}
.hand{
 cursor:pointer
}
A{
 color:Black;
 font-size:14px;
 font-weight:normal
}
INPUT.text{
 FONT-WEIGHT:normal;
 FONT-SIZE:14px;
 height:20px;
 BACKGROUND:#fff;
 COLOR:black;
 background:url("../../_img/themes/default/back_input.png") no-repeat;
 FONT-FAMILY:arial,sans-serif
}
INPUT.checkbox{
 FONT-WEIGHT:normal;
 FONT-SIZE:14px;
 BACKGROUND:#fff;
 COLOR:black;
 FONT-FAMILY:arial,sans-serif;
 border-color:#89A0D1;
 border-left-width:1px;
 border-top-width:1px;
 border-right-width:1px;
 border-bottom-width:1px;
 border-style:none
}
INPUT.bold{
 FONT-WEIGHT:bold;
 FONT-SIZE:9px;
 BACKGROUND:#ffffff;
 COLOR:black;
 height:20px;
 FONT-FAMILY:arial,sans-serif;
 background:url("../../_img/themes/default/back_input.png") no-repeat;
}
INPUT.selected{
 FONT-WEIGHT:normal;
 FONT-SIZE:14px;
 COLOR:black;
 height:20px;
 background: #FFFFCC;
 FONT-FAMILY:arial,sans-serif;
 background:url("../../_img/themes/default/back_input_hover.png") no-repeat;
}
TEXTAREA.text{
 FONT-WEIGHT:normal;
 FONT-SIZE:14px;
 COLOR:black;
 FONT-FAMILY:arial,sans-serif;
 background:url("../../_img/themes/default/back_input.png") no-repeat #ddd;
 resize:both
}
SELECT.text{
 FONT-WEIGHT:normal;
 FONT-SIZE:14px;
 COLOR:black;
 height:20px;
 FONT-FAMILY:arial,sans-serif;
 background:url("../../_img/themes/default/back_input.png") no-repeat
}
input.button{
 padding:1px 12px 0 12px;
 font-family:arial,sans-serif;
 font-size:14px;
 font-weight:normal;
 color:#505050;
 height:20px;
 border:solid 1px #b5b5b5;
 background:url("../../_img/themes/default/button-bg.png") top left repeat-x;
 cursor:pointer
}
input.button:focus{
 border:none;
 outline:none
}
input.button:hover{
 border:1px solid black;
 outline:none
}
tr.list{
 color:#222;
 font-family:arial,sans-serif;
 font-size:14px;
 padding:1px 5px 1px 1px;
 background-color:#f9f9f9;
 height:25px;
 line-height:25px
}
TR.list1{
 color:#222;
 font-family:arial,sans-serif;
 font-size:14px;
 padding:1px 5px 1px 1px;
 background-color:#f0f0f0;
 height:25px;
 line-height:25px
}
TR.gray {
 text-indent:2px;
 color:#333;
 font-family:arial, sans-serif;
 font-size:14px;
 font-weight:bold;
 text-align:left;
 padding:1px 5px 1px 1px;
 border:none;
 height:25px;
 background:url("../../_img/themes/default/trgray_bg.gif") repeat-x
}
div.search{
 border:1px solid black;
 padding:2px;
 font-family:arial,sans-serif;
 width:99%
}
a.link{
 outline:none;
 padding:5px;
 border:1px transparent solid
}
a.link:hover{
 border:1px solid #4D82BB;
 background-color:#ddd
}
div#login{
 border:1px solid #ccc;
 width:220px;
 padding-top:14px;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 background:#fff
}
div.error_msg{
 color:red;
 font-style:italic;
 font-weight:bold;
 padding-top:5px;
 padding-top:10px;
 height:25px
}
div.buttons{
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 padding:5px;
 background:#eee;
 border:1px solid #C1DEFF;
 border-top:none
}
}